interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.thedogapi.com/v1/images/search
  response:
    body:
      string: '[{"breeds":[{"weight":{"imperial":"65 - 75","metric":"29 - 34"},"height":{"imperial":"21
        - 28","metric":"53 - 71"},"id":14,"name":"American Foxhound","country_code":"US","bred_for":"Fox
        hunting, scent hound","breed_group":"Hound","life_span":"8 - 15 years","temperament":"Kind,
        Sweet-Tempered, Loyal, Independent, Intelligent, Loving","reference_image_id":"S14n1x9NQ"}],"id":"ajJCO_lDC","url":"https://cdn2.thedogapi.com/images/ajJCO_lDC.jpg","width":670,"height":536}]'
    headers:
      X-Cloud-Trace-Context:
      - d9a21d9b761b770fead48a7b5197d7d5
      content-type:
      - application/json; charset=utf-8
      last-modified:
      - Thu Apr 28 2022 02:43:15 GMT+0000 (Coordinated Universal Time)
      x-response-time:
      - 2ms
    status:
      code: 200
      message: OK
version: 1
